In [35]:
import numpy as np              #standard imports
import scipy as sc
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [36]:
! dir ..\tennis_atp

 Volume in drive C is Windows
 Volume Serial Number is B23B-633B

 Directory of C:\Users\Daniel\MTH420\tennis_atp

01/26/2017  05:53 PM    <DIR>          .
01/26/2017  05:53 PM    <DIR>          ..
01/26/2017  04:57 PM               395 .gitattributes
01/26/2017  04:57 PM               617 .gitignore
01/26/2017  05:46 PM    <DIR>          .ipynb_checkpoints
01/26/2017  04:57 PM           215,878 atp_matches_1968.csv
01/26/2017  04:57 PM           254,584 atp_matches_1969.csv
01/26/2017  04:57 PM           294,108 atp_matches_1970.csv
01/26/2017  04:57 PM           471,851 atp_matches_1971.csv
01/26/2017  04:57 PM           511,670 atp_matches_1972.csv
01/26/2017  04:57 PM           669,885 atp_matches_1973.csv
01/26/2017  04:57 PM           696,709 atp_matches_1974.csv
01/26/2017  04:57 PM           721,508 atp_matches_1975.csv
01/26/2017  04:57 PM           697,442 atp_matches_1976.csv
01/26/2017  04:57 PM           732,296 atp_matches_1977.csv
01/26/2017  04:57 PM           701,739 atp_matches_1978.csv
01/26/2017  04:57 PM           728,227 atp_matches_1979.csv
01/26/2017  04:57 PM           721,073 atp_matches_1980.csv
01/26/2017  04:57 PM           700,574 atp_matches_1981.csv
01/26/2017  04:57 PM           731,977 atp_matches_1982.csv
01/26/2017  04:57 PM           650,225 atp_matches_1983.csv
01/26/2017  04:57 PM           590,839 atp_matches_1984.csv
01/26/2017  04:57 PM           624,437 atp_matches_1985.csv
01/26/2017  04:57 PM           596,498 atp_matches_1986.csv
01/26/2017  04:57 PM           640,883 atp_matches_1987.csv
01/26/2017  04:57 PM           688,382 atp_matches_1988.csv
01/26/2017  04:57 PM           661,947 atp_matches_1989.csv
01/26/2017  04:57 PM           631,627 atp_matches_1990.csv
01/26/2017  04:57 PM           815,160 atp_matches_1991.csv
01/26/2017  04:57 PM           833,328 atp_matches_1992.csv
01/26/2017  04:57 PM           855,647 atp_matches_1993.csv
01/26/2017  04:57 PM           865,333 atp_matches_1994.csv
01/26/2017  04:57 PM           837,281 atp_matches_1995.csv
01/26/2017  04:57 PM           831,146 atp_matches_1996.csv
01/26/2017  04:57 PM           801,257 atp_matches_1997.csv
01/26/2017  04:57 PM           795,021 atp_matches_1998.csv
01/26/2017  04:57 PM           737,544 atp_matches_1999.csv
01/26/2017  04:57 PM           743,454 atp_matches_2000.csv
01/26/2017  04:57 PM           733,925 atp_matches_2001.csv
01/26/2017  04:57 PM           716,460 atp_matches_2002.csv
01/26/2017  04:57 PM           711,494 atp_matches_2003.csv
01/26/2017  04:57 PM           724,782 atp_matches_2004.csv
01/26/2017  04:57 PM           722,368 atp_matches_2005.csv
01/26/2017  04:57 PM           723,729 atp_matches_2006.csv
01/26/2017  04:57 PM           699,539 atp_matches_2007.csv
01/26/2017  04:57 PM           690,940 atp_matches_2008.csv
01/26/2017  04:57 PM           685,734 atp_matches_2009.csv
01/26/2017  04:57 PM           680,408 atp_matches_2010.csv
01/26/2017  04:57 PM           674,657 atp_matches_2011.csv
01/26/2017  04:57 PM           670,040 atp_matches_2012.csv
01/26/2017  04:57 PM           654,344 atp_matches_2013.csv
01/26/2017  04:57 PM           641,227 atp_matches_2014.csv
01/26/2017  04:57 PM           649,843 atp_matches_2015.csv
01/26/2017  04:57 PM            65,792 atp_matches_2016.csv
01/26/2017  04:57 PM         1,814,771 atp_matches_futures_1991.csv
01/26/2017  04:57 PM         1,753,034 atp_matches_futures_1992.csv
01/26/2017  04:57 PM         2,026,264 atp_matches_futures_1993.csv
01/26/2017  04:57 PM         2,114,478 atp_matches_futures_1994.csv
01/26/2017  04:57 PM         2,436,472 atp_matches_futures_1995.csv
01/26/2017  04:57 PM         2,587,277 atp_matches_futures_1996.csv
01/26/2017  04:57 PM         2,809,231 atp_matches_futures_1997.csv
01/26/2017  04:57 PM         2,651,965 atp_matches_futures_1998.csv
01/26/2017  04:57 PM         2,651,056 atp_matches_futures_1999.csv
01/26/2017  04:57 PM         2,457,129 atp_matches_futures_2000.csv
01/26/2017  04:57 PM         2,560,886 atp_matches_futures_2001.csv
01/26/2017  04:57 PM         2,525,038 atp_matches_futures_2002.csv
01/26/2017  04:57 PM         2,698,152 atp_matches_futures_2003.csv
01/26/2017  04:57 PM         2,834,117 atp_matches_futures_2004.csv
01/26/2017  04:57 PM         3,006,759 atp_matches_futures_2005.csv
01/26/2017  04:57 PM         3,111,186 atp_matches_futures_2006.csv
01/26/2017  04:57 PM         3,083,881 atp_matches_futures_2007.csv
01/26/2017  04:57 PM         3,300,704 atp_matches_futures_2008.csv
01/26/2017  04:57 PM         3,045,840 atp_matches_futures_2009.csv
01/26/2017  04:57 PM         2,952,211 atp_matches_futures_2010.csv
01/26/2017  04:57 PM         3,269,173 atp_matches_futures_2011.csv
01/26/2017  04:57 PM         3,603,645 atp_matches_futures_2012.csv
01/26/2017  04:57 PM         3,937,338 atp_matches_futures_2013.csv
01/26/2017  04:57 PM         4,160,085 atp_matches_futures_2014.csv
01/26/2017  04:57 PM         4,060,932 atp_matches_futures_2015.csv
01/26/2017  04:57 PM           138,050 atp_matches_futures_2016.csv
01/26/2017  04:57 PM           546,272 atp_matches_qual_chall_1991.csv
01/26/2017  04:57 PM           520,002 atp_matches_qual_chall_1992.csv
01/26/2017  04:57 PM           563,074 atp_matches_qual_chall_1993.csv
01/26/2017  04:57 PM           567,033 atp_matches_qual_chall_1994.csv
01/26/2017  04:57 PM           497,866 atp_matches_qual_chall_1995.csv
01/26/2017  04:57 PM           574,887 atp_matches_qual_chall_1996.csv
01/26/2017  04:57 PM           631,184 atp_matches_qual_chall_1997.csv
01/26/2017  04:57 PM           663,480 atp_matches_qual_chall_1998.csv
01/26/2017  04:57 PM           677,149 atp_matches_qual_chall_1999.csv
01/26/2017  04:57 PM           712,981 atp_matches_qual_chall_2000.csv
01/26/2017  04:57 PM           796,993 atp_matches_qual_chall_2001.csv
01/26/2017  04:57 PM           713,932 atp_matches_qual_chall_2002.csv
01/26/2017  04:57 PM           798,402 atp_matches_qual_chall_2003.csv
01/26/2017  04:57 PM           863,984 atp_matches_qual_chall_2004.csv
01/26/2017  04:57 PM           885,185 atp_matches_qual_chall_2005.csv
01/26/2017  04:57 PM           950,791 atp_matches_qual_chall_2006.csv
01/26/2017  04:57 PM         1,344,825 atp_matches_qual_chall_2007.csv
01/26/2017  04:57 PM         1,363,644 atp_matches_qual_chall_2008.csv
01/26/2017  04:57 PM         1,295,006 atp_matches_qual_chall_2009.csv
01/26/2017  04:57 PM         1,452,378 atp_matches_qual_chall_2010.csv
01/26/2017  04:57 PM         1,401,677 atp_matches_qual_chall_2011.csv
01/26/2017  04:57 PM         1,406,414 atp_matches_qual_chall_2012.csv
01/26/2017  04:57 PM         1,412,009 atp_matches_qual_chall_2013.csv
01/26/2017  04:57 PM         1,397,058 atp_matches_qual_chall_2014.csv
01/26/2017  04:57 PM         1,448,618 atp_matches_qual_chall_2015.csv
01/26/2017  04:57 PM           119,521 atp_matches_qual_chall_2016.csv
01/26/2017  05:56 PM         1,680,581 atp_players.csv
01/26/2017  04:57 PM        22,184,371 atp_rankings_00s.csv
01/26/2017  04:57 PM        13,706,658 atp_rankings_10s.csv
01/26/2017  04:57 PM           250,531 atp_rankings_70s.csv
01/26/2017  04:57 PM         6,122,548 atp_rankings_80s.csv
01/26/2017  04:57 PM        17,343,834 atp_rankings_90s.csv
01/26/2017  04:57 PM           218,225 atp_rankings_current.csv
01/26/2017  04:57 PM    <DIR>          examples
01/26/2017  04:57 PM             3,062 README.md
01/26/2017  05:47 PM            18,727 Tennis1.ipynb
01/26/2017  05:53 PM            13,683 Tennis_playerID.ipynb
             113 File(s)    189,232,083 bytes
               4 Dir(s)  417,858,416,640 bytes free

In [37]:
playerID = pd.read_csv("../tennis_atp/atp_players.csv", encoding='latin-1')
type(playerID)

pandas.core.frame.DataFrame

In [38]:
playerID.head()

   PlayerID      First Name Last Name Handed  Birth Date Country
0    100001         Gardnar    Mulloy      R  19131122.0     USA
1    100002          Pancho    Segura      R  19210620.0     ECU
2    100003           Frank   Sedgman      R  19271002.0     AUS
3    100004        Giuseppe     Merlo      R  19271011.0     ITA
4    100005  Richard Pancho  Gonzales      R  19280509.0     USA

In [39]:
playerID.columns

Index(['PlayerID', 'First Name', 'Last Name', 'Handed', 'Birth Date',
       'Country'],
      dtype='object')

In [42]:
playerID = playerID.drop(['Handed','Birth Date','Country'], axis = 1)

In [43]:
playerID.head()

   PlayerID      First Name Last Name
0    100001         Gardnar    Mulloy
1    100002          Pancho    Segura
2    100003           Frank   Sedgman
3    100004        Giuseppe     Merlo
4    100005  Richard Pancho  Gonzales