In [55]:
import numpy as np              #standard imports
import scipy as sc
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [68]:
####### UPSETS FOR 1968-1979 #######

tennis_1968 = pd.read_csv("../tennis_atp/atp_matches_1968.csv")
tennis_1969 = pd.read_csv("../tennis_atp/atp_matches_1969.csv")
tennis_1970 = pd.read_csv("../tennis_atp/atp_matches_1970.csv")
tennis_1971 = pd.read_csv("../tennis_atp/atp_matches_1971.csv")
tennis_1972 = pd.read_csv("../tennis_atp/atp_matches_1972.csv")
tennis_1973 = pd.read_csv("../tennis_atp/atp_matches_1973.csv")
tennis_1974 = pd.read_csv("../tennis_atp/atp_matches_1974.csv")
tennis_1975 = pd.read_csv("../tennis_atp/atp_matches_1975.csv")
tennis_1976 = pd.read_csv("../tennis_atp/atp_matches_1976.csv")
tennis_1977 = pd.read_csv("../tennis_atp/atp_matches_1977.csv")
tennis_1978 = pd.read_csv("../tennis_atp/atp_matches_1978.csv")
tennis_1979 = pd.read_csv("../tennis_atp/atp_matches_1979.csv")

tennis_1968_1979 = tennis_1970.append([tennis_1969, tennis_1970, tennis_1971, tennis_1972, tennis_1973, tennis_1974, tennis_1975,
                                       tennis_1976, tennis_1977, tennis_1978, tennis_1979])
tennis_1968_1979 = tennis_1968_1979[tennis_1968_1979.tourney_name.str.contains("Davis") == False]
tennis_1968_1979 = tennis_1968_1979[tennis_1968_1979.tourney_name.str.contains("Olympics") == False]
tennis_1968_1979 = tennis_1968_1979.drop(['tourney_id','tourney_name','tourney_level','draw_size','round','match_num','winner_ht'
                                          ,'loser_ht','winner_ioc','loser_ioc','w_svpt','l_svpt','w_SvGms','l_SvGms','w_1stWon'
                                          ,'l_1stWon','w_2ndWon','l_2ndWon','w_df','l_df','minutes','winner_rank_points'
                                          ,'loser_rank_points','winner_entry','loser_entry','w_SvGms','l_SvGms','winner_id'
                                          ,'loser_id','w_1stIn','l_1stIn'], axis = 1)       #omits irrelevant columns#
upsets_1968_1979 = tennis_1968_1979[tennis_1968_1979['winner_rank'] - 300 > tennis_1968_1979['loser_rank']]
#selects only largest upsets of 300+ rank difference#
upsets_1968_1979 = upsets_1968_1979[upsets_1968_1979['loser_rank'] <= 100]      #restricts upsets to losers with top 100 rank#
upsets_1968_1979 = upsets_1968_1979.drop(['tourney_date','winner_age','winner_seed','winner_hand','winner_rank','loser_seed',
                                          'loser_name','loser_hand','loser_age','loser_rank','score','best_of','w_ace',
                                          'w_bpSaved','w_bpFaced','l_ace','l_bpSaved','l_bpFaced'], axis = 1)
                                                                    #omits irrelevant columns#
upsets_1968_1979 = upsets_1968_1979.groupby(['surface']).count()
upsets_1968_1979.columns = ['Total Upsets 1968 - 1979']   #formats columns name#
upsets_1968_1979

         Total Upsets 1968 - 1979
surface
Carpet                          6
Clay                           12
Grass                           3
Hard                           10

In [60]:
####### UPSETS FOR 1980-1989 #######

tennis_1980 = pd.read_csv("../tennis_atp/atp_matches_1980.csv")
tennis_1981 = pd.read_csv("../tennis_atp/atp_matches_1981.csv")
tennis_1982 = pd.read_csv("../tennis_atp/atp_matches_1982.csv")
tennis_1983 = pd.read_csv("../tennis_atp/atp_matches_1983.csv")
tennis_1984 = pd.read_csv("../tennis_atp/atp_matches_1984.csv")
tennis_1985 = pd.read_csv("../tennis_atp/atp_matches_1985.csv")
tennis_1986 = pd.read_csv("../tennis_atp/atp_matches_1986.csv")
tennis_1987 = pd.read_csv("../tennis_atp/atp_matches_1987.csv")
tennis_1988 = pd.read_csv("../tennis_atp/atp_matches_1988.csv")
tennis_1989 = pd.read_csv("../tennis_atp/atp_matches_1989.csv")

tennis_1980_1989 = tennis_1980.append([tennis_1981, tennis_1982, tennis_1983, tennis_1984, tennis_1985, tennis_1986, tennis_1987,
                                       tennis_1988, tennis_1989])
tennis_1980_1989 = tennis_1980_1989[tennis_1980_1989.tourney_name.str.contains("Davis") == False]
tennis_1980_1989 = tennis_1980_1989[tennis_1980_1989.tourney_name.str.contains("Olympics") == False]
tennis_1980_1989 = tennis_1980_1989.drop(['tourney_id','tourney_name','tourney_level','draw_size','round','match_num','winner_ht'
                                          ,'loser_ht','winner_ioc','loser_ioc','w_svpt','l_svpt','w_SvGms','l_SvGms','w_1stWon'
                                          ,'l_1stWon','w_2ndWon','l_2ndWon','w_df','l_df','minutes','winner_rank_points'
                                          ,'loser_rank_points','winner_entry','loser_entry','w_SvGms','l_SvGms','winner_id'
                                          ,'loser_id','w_1stIn','l_1stIn'], axis = 1)       #omits irrelevant columns#
upsets_1980_1989 = tennis_1980_1989[tennis_1980_1989['winner_rank'] - 300 > tennis_1980_1989['loser_rank']]
#selects only largest upsets of 300+ rank difference#
upsets_1980_1989 = upsets_1980_1989[upsets_1980_1989['loser_rank'] <= 100]      #restricts upsets to losers with top 100 rank#
upsets_1980_1989 = upsets_1980_1989.drop(['tourney_date','winner_age','winner_seed','winner_hand','winner_rank','loser_seed',
                                          'loser_name','loser_hand','loser_age','loser_rank','score','best_of','w_ace',
                                          'w_bpSaved','w_bpFaced','l_ace','l_bpSaved','l_bpFaced'], axis = 1)
                                                                    #omits irrelevant columns#
upsets_1980_1989 = upsets_1980_1989.groupby(['surface']).count()
upsets_1980_1989.columns = ['Total Upsets 1980 - 1989']   #formats columns name#
upsets_1980_1989

         Total Upsets 1980 - 1989
surface
Carpet                         27
Clay                           82
Grass                          25
Hard                           97

In [59]:
####### UPSETS FOR 1990-1999 #######

tennis_1990 = pd.read_csv("../tennis_atp/atp_matches_1990.csv")
tennis_1991 = pd.read_csv("../tennis_atp/atp_matches_1991.csv")
tennis_1992 = pd.read_csv("../tennis_atp/atp_matches_1992.csv")
tennis_1993 = pd.read_csv("../tennis_atp/atp_matches_1993.csv")
tennis_1994 = pd.read_csv("../tennis_atp/atp_matches_1994.csv")
tennis_1995 = pd.read_csv("../tennis_atp/atp_matches_1995.csv")
tennis_1996 = pd.read_csv("../tennis_atp/atp_matches_1996.csv")
tennis_1997 = pd.read_csv("../tennis_atp/atp_matches_1997.csv")
tennis_1998 = pd.read_csv("../tennis_atp/atp_matches_1998.csv")
tennis_1999 = pd.read_csv("../tennis_atp/atp_matches_1999.csv")

tennis_1990_1999 = tennis_1990.append([tennis_1991, tennis_1992, tennis_1993, tennis_1994, tennis_1995, tennis_1996, tennis_1997,
                                       tennis_1998, tennis_1999])
tennis_1990_1999 = tennis_1990_1999[tennis_1990_1999.tourney_name.str.contains("Davis") == False]
tennis_1990_1999 = tennis_1990_1999[tennis_1990_1999.tourney_name.str.contains("Olympics") == False]
tennis_1990_1999 = tennis_1990_1999.drop(['tourney_id','tourney_name','tourney_level','draw_size','round','match_num','winner_ht'
                                          ,'loser_ht','winner_ioc','loser_ioc','w_svpt','l_svpt','w_SvGms','l_SvGms','w_1stWon'
                                          ,'l_1stWon','w_2ndWon','l_2ndWon','w_df','l_df','minutes','winner_rank_points'
                                          ,'loser_rank_points','winner_entry','loser_entry','w_SvGms','l_SvGms','winner_id'
                                          ,'loser_id','w_1stIn','l_1stIn'], axis = 1)       #omits irrelevant columns#
upsets_1990_1999 = tennis_1990_1999[tennis_1990_1999['winner_rank'] - 300 > tennis_1990_1999['loser_rank']]
#selects only largest upsets of 300+ rank difference#
upsets_1990_1999 = upsets_1990_1999[upsets_1990_1999['loser_rank'] <= 100]      #restricts upsets to losers with top 100 rank#
upsets_1990_1999 = upsets_1990_1999.drop(['tourney_date','winner_age','winner_seed','winner_hand','winner_rank','loser_seed',
                                          'loser_name','loser_hand','loser_age','loser_rank','score','best_of','w_ace',
                                          'w_bpSaved','w_bpFaced','l_ace','l_bpSaved','l_bpFaced'], axis = 1)
                                                                    #omits irrelevant columns#
upsets_1990_1999 = upsets_1990_1999.groupby(['surface']).count()
upsets_1990_1999.columns = ['Total Upsets 1990 - 1999']   #formats columns name#
upsets_1990_1999

         Total Upsets 1990 - 1999
surface
Carpet                         22
Clay                           58
Grass                          22
Hard                           93

In [56]:
####### UPSETS FOR 2000-2010 #######

tennis_2000 = pd.read_csv("../tennis_atp/atp_matches_2000.csv")
tennis_2001 = pd.read_csv("../tennis_atp/atp_matches_2001.csv")
tennis_2002 = pd.read_csv("../tennis_atp/atp_matches_2002.csv")
tennis_2003 = pd.read_csv("../tennis_atp/atp_matches_2003.csv")
tennis_2004 = pd.read_csv("../tennis_atp/atp_matches_2004.csv")
tennis_2005 = pd.read_csv("../tennis_atp/atp_matches_2005.csv")
tennis_2006 = pd.read_csv("../tennis_atp/atp_matches_2006.csv")
tennis_2007 = pd.read_csv("../tennis_atp/atp_matches_2007.csv")
tennis_2008 = pd.read_csv("../tennis_atp/atp_matches_2008.csv")
tennis_2009 = pd.read_csv("../tennis_atp/atp_matches_2009.csv")
tennis_2010 = pd.read_csv("../tennis_atp/atp_matches_2010.csv")

tennis_2000_2010 = tennis_2000.append([tennis_2001, tennis_2002, tennis_2003, tennis_2004, tennis_2005, tennis_2006, tennis_2007,
                                       tennis_2008, tennis_2009, tennis_2010])
tennis_2000_2010 = tennis_2000_2010[tennis_2000_2010.tourney_name.str.contains("Davis") == False]
tennis_2000_2010 = tennis_2000_2010[tennis_2000_2010.tourney_name.str.contains("Olympics") == False]
tennis_2000_2010 = tennis_2000_2010.drop(['tourney_id','tourney_name','tourney_level','draw_size','round','match_num','winner_ht'
                                          ,'loser_ht','winner_ioc','loser_ioc','w_svpt','l_svpt','w_SvGms','l_SvGms','w_1stWon'
                                          ,'l_1stWon','w_2ndWon','l_2ndWon','w_df','l_df','minutes','winner_rank_points'
                                          ,'loser_rank_points','winner_entry','loser_entry','w_SvGms','l_SvGms','winner_id'
                                          ,'loser_id','w_1stIn','l_1stIn'], axis = 1)       #omits irrelevant columns#
upsets_2000_2010 = tennis_2000_2010[tennis_2000_2010['winner_rank'] - 300 > tennis_2000_2010['loser_rank']]
#selects only largest upsets of 300+ rank difference#
upsets_2000_2010 = upsets_2000_2010[upsets_2000_2010['loser_rank'] <= 100]      #restricts upsets to losers with top 100 rank#
upsets_2000_2010 = upsets_2000_2010.drop(['tourney_date','winner_age','winner_seed','winner_hand','winner_rank','loser_seed',
                                          'loser_name','loser_hand','loser_age','loser_rank','score','best_of','w_ace',
                                          'w_bpSaved','w_bpFaced','l_ace','l_bpSaved','l_bpFaced'], axis = 1)
                                                                    #omits irrelevant columns#
upsets_2000_2010 = upsets_2000_2010.groupby(['surface']).count()
upsets_2000_2010.columns = ['Total Upsets 2000 - 2010']   #formats columns name#
upsets_2000_2010

         Total Upsets 2000 - 2010
surface
Carpet                          6
Clay                           46
Grass                          34
Hard                           94

In [57]:
####### UPSETS FOR 2011-2016 #######

tennis_2011 = pd.read_csv("../tennis_atp/atp_matches_2011.csv")
tennis_2012 = pd.read_csv("../tennis_atp/atp_matches_2012.csv")
tennis_2013 = pd.read_csv("../tennis_atp/atp_matches_2013.csv")
tennis_2014 = pd.read_csv("../tennis_atp/atp_matches_2014.csv")
tennis_2015 = pd.read_csv("../tennis_atp/atp_matches_2015.csv")
tennis_2016 = pd.read_csv("../tennis_atp/atp_matches_2016.csv")

tennis_2011_2016 = tennis_2011.append([tennis_2012, tennis_2013, tennis_2014, tennis_2015, tennis_2016])
#tennis_2011_2016 = tennis_2011_2016[tennis_2011_2016.tourney_name.str.contains("Davis") == False]#
#tennis_2011_2016 = tennis_2011_2016[tennis_2011_2016.tourney_name.str.contains("Olympics") == False]#
tennis_2011_2016 = tennis_2011_2016.drop(['tourney_id','tourney_name','tourney_level','draw_size','round','match_num','winner_ht'
                                          ,'loser_ht','winner_ioc','loser_ioc','w_svpt','l_svpt','w_SvGms','l_SvGms','w_1stWon'
                                          ,'l_1stWon','w_2ndWon','l_2ndWon','w_df','l_df','minutes','winner_rank_points'
                                          ,'loser_rank_points','winner_entry','loser_entry','w_SvGms','l_SvGms','winner_id'
                                          ,'loser_id','w_1stIn','l_1stIn'], axis = 1)       #omits irrelevant columns#
upsets_2011_2016 = tennis_2011_2016[tennis_2011_2016['winner_rank'] - 300 > tennis_2011_2016['loser_rank']]
#selects only largest upsets of 300+ rank difference#
upsets_2011_2016 = upsets_2011_2016[upsets_2011_2016['loser_rank'] <= 100]      #restricts upsets to losers with top 100 rank#
upsets_2011_2016 = upsets_2011_2016.drop(['tourney_date','winner_age','winner_seed','winner_hand','winner_rank','loser_seed',
                                          'loser_name','loser_hand','loser_age','loser_rank','score','best_of','w_ace',
                                          'w_bpSaved','w_bpFaced','l_ace','l_bpSaved','l_bpFaced'], axis = 1)
                                                                    #omits irrelevant columns#
upsets_2011_2016 = upsets_2011_2016.groupby(['surface']).count()
upsets_2011_2016.columns = ['Total Upsets 2011 - 2016']   #formats columns name#
upsets_2011_2016

         Total Upsets 2011 - 2016
surface
Carpet                          1
Clay                           18
Grass                          12
Hard                           34

In [86]:
####### SUMMARY OF UPSETS 1968-2016 #######

upsets_1968_2016 = upsets_1968_1979.join([upsets_1980_1989, upsets_1990_1999, upsets_2000_2010, upsets_2011_2016], how='outer')
upsets_1968_2016 = upsets_1968_2016.fillna(0)
upsets_1968_2016['Total Upsets'] = upsets_1968_2016.sum(axis=1)
#upsets_1968_2016 = upsets_1968_2016.drop(['Total Upsets 1968 - 1979','Total Upsets 1980 - 1989','Total Upsets 1990 - 1999',
                                          #'Total Upsets 2000 - 2010','Total Upsets 2011 - 2016'], axis = 1)
upsets_1968_2016.columns = [['Upsets 1968 - 1979','Upsets 1980 - 1989','Upsets 1990 - 1999','Upsets 2000 - 2010',
                             'Upsets 2011 - 2016', 'Total Upsets 1968 - 2016']]   #formats columns name#
upsets_1968_2016

,Upsets 1968 - 1979,Upsets 1980 - 1989,Upsets 1990 - 1999,Upsets 2000 - 2010,Upsets 2011 - 2016,Total Upsets 1968 - 2016
surface,,,,,,
Carpet,6,27,22,6,1,62
Clay,12,82,58,46,18,216
Grass,3,25,22,34,12,96
Hard,10,97,93,94,34,328